.heading_sytl {
    margin: 4% 0% 0% 22%;
    color: orange;
}

.heading_bil {
    margin: 4% 0% 0% 42%;
    color: orange;
}

.form_design {
    margin: 5% 11% 0% 11%;
}

.input_field {
    margin: 25px 0px 0px 0px;
}